* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_emojis {
    display: flex;
    gap: 10px;
}
.uno{
    background-color: #20af9c;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dos{
    background-color: #3846c2;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres{
    background-color: #ca3bc3;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuatro{
    background-color: #121414;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cinco{
    background-color: #ceb31b;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seis{
    background-color: #d1530a;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.container_emojis p {
    background-color: #7453a5;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
*/
.container_numeros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.container_numeros div {
    background-color: #7453a5;
    width: 120px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
